<!DOCTYPE html>
<html>
  <!--[if lt IE 7]>      <html lang="en" ng-app="myApp" class="no-js lt-ie9 lt-ie8 lt-ie7"> <![endif]-->
  <!--[if IE 7]>         <html lang="en" ng-app="myApp" class="no-js lt-ie9 lt-ie8"> <![endif]-->
  <!--[if IE 8]>         <html lang="en" ng-app="myApp" class="no-js lt-ie9"> <![endif]-->
  <!--[if gt IE 8]>      <html lang="en" ng-app="myApp" class="no-js"> <![endif]-->
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="apple-mobile-web-app-capable" content="yes">
    <meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no, minimal-ui">

    <title>Market Finder</title>
    <link rel="shortcut icon" type="image/png" href="/favicon.png" />
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="css/custom.css"/>
  </head>
  <body ng-app='marketFinder'>

    <!--[if lt IE 7]>
        <p class="browsehappy">You are using an <strong>outdated</strong> browser. Please <a href="http://browsehappy.com/">upgrade your browser</a> to improve your experience.</p>
    <![endif]-->

    <div class="header">
      <div class="header-inner">
        <h1 id="logo">Farmer's Market Finder</h1>
      </div>
    </div>

    <ul class="market-list" ng-controller='marketsController as marketsCtl'>
      <div class="spinner" ng-hide="marketsCtl.loaded">
        <div class="spinner-container container1">
          <div class="circle1"></div>
          <div class="circle2"></div>
          <div class="circle3"></div>
          <div class="circle4"></div>
        </div>
        <div class="spinner-container container2">
          <div class="circle1"></div>
          <div class="circle2"></div>
          <div class="circle3"></div>
          <div class="circle4"></div>
        </div>
        <div class="spinner-container container3">
          <div class="circle1"></div>
          <div class="circle2"></div>
          <div class="circle3"></div>
          <div class="circle4"></div>
        </div>
      </div>

      <h2 ng-show="marketsCtl.loaded">Markets Near You - Click for details</h2>
      <li ng-controller="marketController as marketCtl" ng-repeat="market in marketsCtl.markets">
        <span class="hide-detail" ng-show="marketCtl.show" ng-click="marketCtl.hideDetail()">
          x
        </span>
        <h3 ng-click="marketCtl.showDetail()" ng-class="{shown:marketCtl.show}">
          {{market.marketname | formatMarketName}} 
          <span>
             - {{market.marketname | formatMarketDistance}} mi.
          </span>
        </h3>
        <div ng-show="marketCtl.show">
          <p ng-show="market.details.Address">{{market.details.Address}}</p><span><a target="_blank" ng-href="{{market.details.GoogleLink}}"> map</a></span>
          <h4 ng-show="market.details.Schedule">Schedule</h4>
          <p ng-show="market.details.Schedule">{{market.details.Schedule | removeBreak}}</p>
          <h4 ng-show="market.details.Products">Products Available</h4>
          <p ng-show="market.details.Products">{{market.details.Products | listProducts}}</p>
        </div>
      </li>
    </ul>

    <script src="//ajax.googleapis.com/ajax/libs/angularjs/1.2.21/angular.min.js"></script>
    <script src="js/app.js"></script>
  </body>
</html>
