.hidden {display: none;}

*, *:before, *:after {@include box_sizing;}

html, body{height:100%;}

body {
  color: $darkGray;
  background: url('/img/landscape/roll_1098.png') no-repeat center center fixed;
  @include background_size;
}

.header {
  position: fixed;
  top: 0;
  background-color: $darkBlue;
  width: 100%;
}

.header-inner {
  width: 60%; 
  margin: 0 auto;
}

#logo {
  font-size: 3em;
  color: $offWhite;
  text-align: center;
}

#search {
  padding: 2px;
  display: inline;
  float: right; 
  background-color: $offWhite;
  @include rounded;
  margin-top: 0.42em;
  #search-img  {
    display: inline-block;
    // cursor: pointer;
    height: 1em;
    margin: 0.8em 0 0 0.1em;
  }

  input, input:focus {
    font-size: 1.3em;
    outline: none;
    border: none;
    display: inline-block;
    background-color: $offWhite;
    margin: 0 0 5px 8px;
    color: $darkGray;
  }

  input[type=submit] {
    display: none;
  }
}

#loading {
  width: 32px;
  margin: 0 auto;
  margin-top: 25%;
}

.market-list {
  padding-top: 65px;
  list-style: none;
  width: 40%;
  margin: 0 auto;
  li {
    font-size: 1.5em;
    @include rounded;
    // border: 1px solid $lightGray;
    margin: 5px 0 5px 0;
    padding: 5px 10px 5px 10px;
    background-color: $offWhite;
    &:last-of-type {
      margin-bottom: 5%;
    }
    h3 {
      display: inline-block;
      cursor: pointer;
      span {
        font-weight: normal;
      }
    }
    .shown {cursor: default;}
    h4 {
      margin-top: 0.5em;
    }
  }
  h2 {
    @include rounded;
    font-size: 2em;
    text-align: center;
    padding: 15px 0 15px 0;
    color: $offWhite;
    background-color: $greenBlue;
  }

  .hide-detail {
    float: right;
    cursor: pointer;
    font-size: 0.8em;
    font-weight: bold;
  }
}