.hidden {display: none;}

*, *:before, *:after {@include box_sizing;}

html, body{height:100%;}

.header {
  position: fixed;
  top: 0;
  background-color: $darkGray;
  width: 100%;
  * {
    color: $lightGray;
  }
}

.header-inner {
  width: 80%; 
  margin: 0 auto;
}

#logo {
  font-size: 3em;
  text-align: center;
}

#loading {
  width: 32px;
  margin: 0 auto;
  margin-top: 25%;
}

.market-list {
  padding-top: 65px;
  list-style: none;
  width: 40%;
  margin: 0 auto;
  li {
    font-size: 1.5em;
    @include rounded;
    border: 1px solid $lightGray;
    margin: 5px 0 5px 0;
    padding: 5px 0 5px 10px;
    background-color: lighten($lightGray, 25%);
    &:last-of-type {
      margin-bottom: 5%;
    }
    h3 {
      display: inline-block;
      cursor: pointer;
    }
  }
  h2 {
    font-size: 2em;
    text-align: center;
  }
}