* {
  padding:0;
  margin:0;
}

html, body {height:100%;}
body {font-size: 1.5em;}
.skrollr-desktop body {
  height:100% !important;
}

.parallax-image-wrapper {
  position:fixed;
  left:0;
  width:100%;
  overflow:hidden;
}

.parallax-image-wrapper-100 {
  height:100%;
  top:-100%;
}

.parallax-image {
  display:none;
  position:absolute;
  bottom:0;
  left:0;
  width:100%;
  background-repeat:no-repeat;
  background-position:center;
  background-size:cover;
}

.parallax-image-100 {
  height:100%;
  top:0;
}

.parallax-image.skrollable-between {
  display:block;
}

.no-skrollr .parallax-image-wrapper {
  display:none !important;
}

#skrollr-body {
  height:100%;
  overflow:visible;
  position:relative;
  background: transparent !important;
}

.gap {
  background-size:cover;
  height: 100%;
}

.skrollr .gap {
  background:transparent !important;
}

.content {
  color: $darkGray;
  background: lighten($lightGray, 20%);
  padding: 1em 1.5em 1em 1.5em;
  /*height: 100%;*/
}

.content p {
  margin-bottom: 1em;
}

p:last-of-type {
  margin-bottom: 0;
}

.divider {
  color: $lightGray;
  background: $darkGray;
  text-align: center;
}

.done {
  height: 10%;
}

@media only screen and (orientation:portrait) {
  .home-image  {background-image:url(/public/images/portrait/secret_garden_646.png);}
  .page1-image {background-image:url(/public/images/portrait/red_dawn_646.png);}
  .page2-image {background-image:url(/public/images/portrait/left_646.png);}
  .page3-image {background-image:url(/public/images/portrait/sunset_646.png);}
  .page4-image {background-image:url(/public/images/portrait/moon_646.png);}
}

@media only screen and (orientation:landscape) {
  .home-image  {background-image:url(/public/images/landscape/secret_garden_1098.png);}
  .page1-image {background-image:url(/public/images/landscape/red_dawn_1098.png);}
  .page2-image {background-image:url(/public/images/landscape/left_1098.png);}
  .page3-image {background-image:url(/public/images/landscape/sunset_1098.png);}
  .page4-image {background-image:url(/public/images/landscape/moon_1098.png);}
}
