@media only screen and (min-width: 100px) and (max-device-width: 700px) {
  body {
    font-size: 0.5em;
    background-image: url('/img/landscape/roll_1098.png');
    margin: 0 0 50px 0;
    overflow-x: hidden;
    padding: 0;
    width: 100%;
    background-repeat: no-repeat;
    background-position: center center;
    background-attachment: fixed; 
    -webkit-overflow-scrolling: touch;
    -moz-overflow-scrolling: touch;
    -o-overflow-scrolling: touch;
    -ms-overflow-scrolling: touch;
    overflow-scrolling: touch;
  }

  .header {
    position: relative;
  }

  .market-list {
    padding-top: 5%;
    width: 80%;
    font-size: 1.5em;
    margin-bottom: 10%;
    li {margin-top: 5%;}
  }
}

@media only screen and (min-width: 100px) and (max-device-width: 700px) and (orientation: portrait) {
  body {
    background-image: url('/img/portrait/roll_646.png');
  }
}

