@media only screen and (min-width: 100px) and (max-device-width: 700px) {
  body {
    font-size: 0.4em;
    background: url('/img/landscape/roll_1098.png') fixed;
    @include background_size;
  }
  .market-list {
    padding-top: 10%;
    width: 90%;
    font-size: 1.5em;
    margin-bottom: 20%;
  }
}

@media only screen and (min-width: 100px) and (max-device-width: 700px) and (orientation: portrait) {
  background: url('/img/portrait/roll_646.png');
  background-position: fixed;
    // @include background_size;
}

